html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 5em;
  background: #eee;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  /*height: 100vh;*/
}

/*************************/
/*        HEADER         */
/*************************/

.header {
  height: 3.5em;
  background: #1c1c1c;
  color: #f2f2f2;
  box-sizing: border-box;
}

.header_content {
    margin: auto;
    width: 75%;
    height: 3.5em;
    display: flex;
    align-items: center;
}

.header a {
  color: #f2f2f2;
}

.header_left {
  width: 25%;
  text-align: left;
}

.header_right {
  width: 85%;
  text-align: right;
  font-family: helvetica;
}

a.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}

input.search {
  margin: 0 2em;
  width: 16em;
  height: 2em;
  background-color: #f2f2f2;
  background-image: url('https://visualpharm.com/assets/366/Search-595b40b85ba036ed117de1e9.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  font-family: helvetica;
  padding-left: 1em;
}

a.join {
  background: #f2f2f2;
  color: #1c1c1c;
  padding: .3em .5em;
  border-radius: .2em;
  margin-left: 1em;
  font-family: helvetica;
}

span.logoutt {
  margin-left: 1em;
}

/*************************/
/*         BANNER        */
/*************************/

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10em;
  color: #f2f2f2;
  background: url('../proj3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -15em;
  /*margin-bottom: 1em;*/
}

.banner h1 {
  color: #f2f2f2;
  font-size: 25px;
  font-family: arial;
  font-weight: 100;
  letter-spacing: 3px;
  text-shadow: 0px 0px 3px #000;
  position: absolute;
}

/*************************/
/*      REG/LOG-IN       */
/*************************/

.login-box {
  display: none;
  width: 100%;
  height: 10em;
  background: rgba(51, 51, 51, 0.8);
  align-self: right;
  z-index: 99;
  text-align: center;
}

.register-box {
  display: none;
  width: 100%;
  height: 10em;
  background: rgba(51, 51, 51, 0.8);
  align-self: right;
  z-index: 99;
  text-align: center;
}

.auth_forms {
  display: flex;
  flex-direction: column;
  float: left;
  width: 53%;
  justify-content: flex-end;
  align-items: flex-end;

}

.auth_buttons {
  float: right;
  width: 47%;
  text-align: left;
}

/***input style***/
input.log_reg {
  width: 13em;
  height: 3em;
  display: block;
  border: none;
  color: #475d97;
  font-size: 14px;
  font-family: helvetica;
  padding: .3em;
  box-sizing: border-box;
  border: 2px solid #e2e2e2;
  margin: .5em; auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

h2.login_header {
  line-height: 0;
  font-family: helvetica;
  font-weight: 200;
  margin-right: 50px;
}

input.auth_submit
{
  width: 8em;
  height: 3em;
  display: block;
  border: none;
  color: #666;
  font-size: 18px;
  font-family: helvetica;
  padding: .3em;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  background: #ddd;
  margin-top: 18px;
  margin-left: 20px;
}

input.auth_submit:hover {
  background: #ccc;
  color: #777;
}

a.close_auth {
  width: 13em;
  height: 3em;
  border: none;
  color: #ddd;
  font-size: 30px;
  font-family: helvetica;
  padding: .3em;
  box-sizing: border-box;
  line-height: 1.3;
  padding-left: 2.8em;
}

a.close_auth:hover {
  color: #fff;
}

/*************************/
/*      MAIN SPACE       */
/*************************/

.main_content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.route_area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
  margin: auto;
  justify-content: center;
}

/*************************/
/*         NAV           */
/*************************/

.menu_bar {
  width: 100%;
  height: 2em;
  text-align: center;
  background: #1c1c1c;
  /*margin: auto;*/
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  display: block;
  float: left;
  width:10em;
  height: 2em;
  line-height: 2em;
  color: #f2f2f2;
  font-family: helvetica;
}

li a {
  color: #f2f2f2;
  font-family: helvetica;
}

li:hover {
  background: #222;
}

.post_menu {
  display: none;
  width: 45em;
  height: 15em;
  background: #333;
  align-self: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  padding-top: .5em;
}

.post_menu input {
  background: #f8f8f8;
  width: 10em;
  height: 2em;
  text-align: center;
  font-family: helvetica;
  font-size: 18px;
  line-height: 0;
  margin: 1em;
  color: #2c4577;
}

.one_post {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 10em;
  background: #fff;
  margin: 1em 2em;
  border: 2px solid #e2e2e2;
}

.embedded_song {
  height: 3em;
  /*width: 100%;*/
  font-size: 1em;
  font-family: helvetica;
  text-align: center;
  overflow-y: scroll;
  overflow-wrap: none;
  white-space: nowrap;
  padding-left: .5em;
  box-sizing: border-box;
}

.comment_listen {
  display: flex;
  flex-direction: column;
  height: 3em;
  text-align: center;
  justify-content: center;
  margin-top: .2em;
  line-height: 1.5;
}

.post_content {
  height: 1.2em;
  width: 20em;
  background: #f2f2f2;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.2em;
  font-family: helvetica;
  text-align: center;
  color: #415c9b;
}

.tag_area {
  height: 3em;
  width: 20em;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: .5em;
  text-align: center;
}

.post_tags {
  width: 100%;
  text-align: center;
  display: inline;
  white-space: nowrap;
}

button.post_tag {
  height: 1.7em;
  margin: .3em;
  background: #d1d1d1;
  border: none;
  border-radius: .2em;
  color: #888;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  outline: none;
}

button.post_tag:hover {
  background: #d6d6d6;
  color: #9e9e9e;
}

span.the_song {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  color: #1c1c1c;
}

a.com_lis {
  color: #666;
  font-family: helvetica;
}

a:hover.com_lis {
  color: #898989;
}

/*************************/
/*       SHOW PAGE       */
/*************************/

.show_page_cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

/****** ONE POST ******/
.show_left {
  display: flex;
  flex-direction: column;
  width: 25em;
  min-height: 30em;
  float: left;
  margin: 2em;
}

.show_posted_by {
  width: 100%;
  height: 1.5em;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  font-family: helvetica;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.5em;
  color: #374c82;
}

.show_song {
  min-height: 15em;
  text-align: center;
  margin-bottom: 2em;
  border-bottom: 2px solid #374c82;
  padding-bottom: 2em;
}

h1.show_artist {
  font-family: 'Lobster Two', cursive;
  font-size: 5em;
  line-height: .8;
  overflow-wrap: break-word;
  color: #1c1c1c;
}

.show_song a {
  font-family: helvetica;
  font-size: 2em;
  color: #666;

}

.show_tags {
  min-height: 8em;
  max-height: 12.5em;
  background: rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  box-sizing: border-box;
  border: 2px solid #e2e2e2;
}

.show_tag_cont {
  width: 100%;
  text-align: center;
  display: inline;
  white-space: wrap;
}

/****** COMMENTS ******/
.show_right {
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 30em;
  background: rgba(255, 255, 255, 0.6);
  float: right;
  color: black;
  margin: 2em;
  border-radius: 1em;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}

.show_right h2 {
  font-family: helvetica;
  font-size: 3em;
  line-height: .2em;
  color: #1c1c1c;
}

.all_comments {
  height: 20em;
  overflow: scroll;
}

.one_comment {
  font-family: helvetica;
  margin: 1em auto;
  width: 20em;
  min-height: 7em;
  background: #eee;
  border-radius: 1em;
  box-sizing: border-box;
}

.comment_user {
  width: 20em;
  height: 2em;
  background: #d1d1d1;
  text-align: left;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color: #475d97;
}

.comment_user span {
  margin: 1em;
  line-height: 2em;
}

.one_comment p {
  margin: 1em;
  text-align: left;
  overflow: auto;
  padding: .3em;
  line-height: 1.3;
}

span.add_comment {
  color: #fff;
  font-family: helvetica;
  font-size: 20px;
  line-height: 2em;
  margin-left: 4em;
}

.post_comment {
  height: 10em;
}

.comment_submit {
  background: #d1d1d1;
  width: 100%;
  height: 2.4em;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}

input.com_submit {
  float: right;
  width: 100px;
  height: 2.4em;
  background: #aaa;
  border: 2px solid #999;
  box-sizing: border-box;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 15px;
}

input.com_submit:hover {
  background: #bababa;
  border: 2px solid #aaa;
}

textarea.comment_space {
  width: 25em;
  height: 8em;
  resize: none;
  border: none;
  outline: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
  font-family: helvetica;
  letter-spacing: .1em;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0, .3);
  box-shadow: inset 0 0 10px rgba(0,0,0, .3);
}

/****** Edit/DElete ******/
.edit_delete {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.8em;
  text-align: center;
  margin-top: 1em;
}

form.editing {
  width: 100%;
  height: 2.8em;
}

.edit_delete form {
  width: 100%;
  height: 2.8em;
}

input.edit {
  width: 20%;
  height: 100%;
  font-size: 18px;
  margin: 0;
  border: 1px solid #e2e2e2;
  padding: 0;
  box-sizing: border-box;
  float: left;
  color: #475d97;
}

input.edit_submit {
  width: 20%;
  height: 100%;
  font-size: 18px;
  margin: 0;
  border: 1px solid #e2e2e2;
  padding: 0;
  box-sizing: border-box;
  float: left;
  color: #475d97;
  background-color: #eaeaea;
}

input.edit_submit:hover {
  background: #f3f3f3;
}

input.edit_button{
  min-width: 100%;
  height: 100%;
  background: #8c8c8c;
  color: #f2f2f2;
  font-size: 18px;
  box-sizing: border-box;
}

input:hover.edit_button{
  background: #aaa;
  color: fff;
}

a.return {
  width: 100%;
  height: 100%;
  background: #8c8c8c;
  color: #f2f2f2;
  font-size: 18px;
  font-family: helvetica;
  box-sizing: border-box;
  line-height: 2.4em;
  border: 1px solid #e2e2e2;
}

a.return:hover {
  background: #aaa;
  color: #fff;
}

input.delete_button {
  width: 10em;
  height: 1.5em;
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
  background: #d1d1d1;
  border: none;
  box-sizing: border-box;
}

input.delete_button:hover {
  background: #bfbfbf;
}

/*************************/
/*     PROFILE PAGE      */
/*************************/

.profile_head {
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.profile_head h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 4em;
  line-height: 0;
  color: #232323;
}

.profile_cont h1 {
  text-transform: uppercase;
}

.prof_comment_listen {
  display: flex;
  flex-direction: column;
  height: 3em;
  text-align: center;
  background: #f2f2f2;
  justify-content: center;
}

/*************************/
/*      Users Page       */
/*************************/

.users_cont {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.all_users {
  width: 100%;
}

.all_users a {
  color: #bf3990;
}

.ind_users {
  width: 100%;
  height: 4em;
  background: #fff;
  margin: 1em 2em;
  border: 2px solid #e2e2e2;
  box-sizing: border-box;
}

.ind_users_left {
  display: flex;
  width: 75%;
  height: 100%;
  float: left;
  line-height: 4em;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  box-sizing: border-box;
}

.ind_users_left img {
  height: 3em;
  margin-right: .5em;
}

.ind_users_left i {
  margin-left: 1em;
}

span.users_user {
  text-transform: uppercase;
}

.ind_users_right {
  display: flex;
  width: 25%;
  height: 100%;
  float: right;
  text-align: right;
  line-height: 4em;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
  box-sizing: border-box;
}

/*************************/
/*        FOOTER         */
/*************************/

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  background: #1c1c1c;
  text-align: center;
  font-family: helvetica;
  color: #f2f2f2;
  font-weight: 200;
  letter-spacing: 2px;
}

footer a {
  color: #475d97;
}

footer a:hover {
  color: #526699;
}

footer span {
  line-height: 3em;
  color: #fff;
  font-size: 1em;
}
