<!-- <div class="login-modal"> -->
  <div class="login-box">
    Login:<br>
    <form ng-submit='ctrl.loginUser()'>
      <input class="log_reg" type="text" placeholder="username" ng-model="ctrl.loginForm.username" />
      <input class="log_reg" type="password" placeholder="password" ng-model="ctrl.loginForm.password" />
      <input class="login_close" type="submit" />
      <a class="login_close" href="#">x</a>
    </form>
  </div>
<!-- </div> -->

<!-- <div class="register-modal"> -->
  <div class="register-box">
      Register:<br>
      <form ng-submit='ctrl.registerUser()'>
        <input class="log_reg" type="text" placeholder="username" ng-model="ctrl.newUserForm.username" />
        <input class="log_reg" type="password" placeholder="password" ng-model="ctrl.newUserForm.password" />
        <input class="reg_close" type="submit" />
        <a class="reg_close" href="#">x</a>
      </form>
  </div>
<!-- </div> -->
<h1>what song's in your head?</h1>
