<div class="login-modal">
  <div class="login-box">
    Login:<br>
    <form ng-submit='ctrl.loginUser()'>
      <input type="text" placeholder="username" ng-model="ctrl.loginForm.username" />
      <input type="password" placeholder="password" ng-model="ctrl.loginForm.password" />
      <input type="submit" />
      <a class="close-modal" href="#">x</a>
    </form>
  </div>
</div>

<div class="register-modal">
  <div class="register-box">
      Register:<br>
      <form ng-submit='ctrl.registerUser()'>
        <input type="text" placeholder="username" ng-model="ctrl.newUserForm.username" />
        <input type="password" placeholder="password" ng-model="ctrl.newUserForm.password" />
        <input type="submit" />
        <a class="close-modal" href="#">x</a>
      </form>
  </div>
</div>
<h1>what song's in your head?</h1>
