<!-- Generate All Posts -->
<div class="all_posts" ng-repeat="post in ctrl.allPosts">
  <div class="blog_posts">
    <div class="embedded_song">
      {{ post.artist }} - {{ post.songTitle }}
      <p>{{ post.url }}</p>
    </div>

    <!-- Submitted By -->
    <div class="post_content">
      submitted by: {{post.user.username}}<br>
      <!-- Optional Text Box? -->
    </div>

    <!-- Tags -->
    <div class="post_tags" ng-repeat="tag in post.tag">
      <button class="post_tag">#{{tag}}</button>
    </div>

    <!-- Toggle Edit Form Button -->
    <form ng-submit="ctrl.showEdit(post)" ng-hide="ctrl.showForm === post._id">
      <input type="submit" value="Edit">
    </form>

    <!-- Edit Form -->
    <form ng-if="ctrl.showForm === post._id" ng-submit="ctrl.editPost(post)">
      <input type="text" placeholder={{post.artist}} ng-model="ctrl.formData.artist" />
      <input type="text" placeholder={{post.songTitle}} ng-model="ctrl.formData.songTitle" />
      <input type="text" placeholder={{post.url}} ng-model="ctrl.formData.url" />
      <input type="text" placeholder={{post.tag}} ng-model="ctrl.formData.tag" />
      <input type="submit" value="Submit">
    </form>

    <!-- Delete Button -->
    <form ng-submit="ctrl.deletePost(post)">
      <input type="submit" value="Delete">
    </form>
  </div>

</div>
