<div ng-repeat="post in ctrl.allPosts | filter: searchBox">
  <div class="one_post">
    <div class="embedded_song">
      <span class="the_song">{{ post.artist }} -
      {{ post.songTitle }}</span>
    </div>
    <!-- Submitted By -->
    <div class="post_content">
      submitted by: {{post.user.username}}<br>
    </div>

    <div class="comment_listen">
    <a class="com_lis" ng-click="ctrl.getOne(post)" href="/one_post/">leave a comment</a>
    <a class="com_lis" href="{{ post.url }}" target="blank">&#9834; LISTEN &#9834;</a>
    </div>

    <!-- Tags -->
    <div class="tag_area">
      <div class="post_tags" ng-repeat="tag in post.tag">
        <button class="post_tag">#{{tag}}</button>
      </div>
    </div>

</div>
